CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Visual studio folder
.vs/

# VS Output folder
out/

# CMake build folder
build/

# Optional CMake configuration file
CMakePresets.json